/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

/*
$accentColor = #A31100
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$accentColor2 = #3CF092
$backgroundColor = #FFF4F2

*/


$accentColor = #DA0037
$textColor = #171717
$borderColor = #EDEDED
$codeBgColor = #444444
$backgroundColor = #FFFFFF